# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Based on Visual Studio format style
BasedOnStyle: LLVM
Standard: c++17
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType : None
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine : Empty
IndentCaseLabels: false
ColumnLimit: 80
SortIncludes : Never
PointerAlignment : Right
ReferenceAlignment : Right
SeparateDefinitionBlocks : Always
SpaceAfterCStyleCast : true
